openapi: 3.0.3
info:
  title: CyCove Backend API
  version: 0.6.0-draft
  description: >
    HTTP API contract for the CyCove relay backend, formalizing the surface
    sketched in the vault note (Projects/CyCove.md, Architecture -> Backend).
    The server is a deliberate "dumb pipe": it never sees plaintext message
    content and never holds long-term encryption keys. Realtime delivery is
    covered separately in asyncapi.yaml.
    STATUS (2026-07-19): reshaped around matrix-sdk-crypto-wasm's actual
    protocol requirements — see docs/crypto-integration-notes.md for why.
    /keys/upload, /keys/query, /keys/claim replace the original /prekeys
    endpoints (Matrix-shaped batch operations, not this API's own simpler
    shapes). user_id and device_id are now client-generated, not
    server-assigned — required because the client's OlmMachine bakes both
    into a self-signed device_keys blob before /register is ever called.
    STATUS (2026-07-19, later same day): added a real username directory
    (/users/*), rate limiting on the most abuse-prone endpoints, and opaque
    encrypted contact backup (/account-data/*) — see
    docs/crypto-integration-notes.md and THREAT_MODEL.md for the disclosures
    that come with both.
    STATUS (2026-07-20): added /login (re-authenticate an existing account on
    the device that created it) and wired the web client to the previously
    backend-only /devices/pairing-token and /devices/link (real "linked
    device" support). Neither endpoint is new server-side design — /login
    mirrors /register's auth pattern, /devices/* already existed — the work
    was closing the gap between what the backend could do and what the web
    client actually exposed. See docs/ux-flows.md and THREAT_MODEL.md.
    STATUS (2026-07-20, later same day): added GET /devices and DELETE
    /devices/{deviceId} (list + revoke) alongside QR-code device linking on
    the web client — a QR code raises the stakes on an unwanted link (a
    camera can capture one from across a room in an instant, unlike a
    copy-pasted string), so a way to see and undo one matters more once QR
    exists. See THREAT_MODEL.md's "linked devices" entry for the direct
    answer to whether this changes the app's security posture.
    STATUS (2026-07-20, later still): added cross-signing — /keys/query now
    also returns master_keys/self_signing_keys/user_signing_keys, and two new
    endpoints (/keys/signing-keys/upload, /keys/signatures/upload) round out
    matrix-sdk-crypto-wasm's bootstrapCrossSigning() request set. Solves the
    "linked devices inherit no trust" gap noted above and makes safety-number
    verification apply to a contact's whole identity, not just the one device
    verified — see docs/crypto-integration-notes.md's cross-signing grounding
    section for the real request shapes this is built on, and THREAT_MODEL.md
    for the disclosure update. /account-data/contacts is now
    /account-data/{dataType} (contacts | cross-signing) — same mechanism, one
    more use for it.
  contact:
    name: Virdana
servers:
  - url: https://api.cycove.app/v1
    description: Placeholder — domain not yet registered, hosting provider not yet finalized (see Projects/CyCove.md -> Hosting).

tags:
  - name: accounts
  - name: devices
  - name: keys
  - name: messages
  - name: users
  - name: contacts
  - name: account-data

paths:
  /register:
    post:
      tags: [accounts]
      summary: Create a new account and its first device
      description: >
        No phone number or email is collected or required — see
        Projects/CyCove.md -> Key decisions -> Identity model. user_id and
        device_id are generated by the client (matching what its OlmMachine
        was initialized with — see docs/crypto-integration-notes.md), not
        assigned by the server. device_keys/one_time_keys are opaque
        Matrix-shaped blobs the server stores and serves without parsing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, device_id, recovery_key_hash, device_keys]
              properties:
                user_id:
                  type: string
                  description: Client-generated random public account identifier.
                device_id:
                  type: string
                  description: Client-generated device identifier, matching the OlmMachine this device was initialized with.
                recovery_key_hash:
                  type: string
                  description: >
                    Hash of a recovery key generated client-side. The server
                    never receives the recovery key itself, only a hash used
                    to later verify possession during account recovery.
                device_keys:
                  type: object
                  description: Opaque Matrix-shaped device_keys blob (self-signed identity keys) — see docs/crypto-integration-notes.md.
                one_time_keys:
                  type: object
                  description: Opaque map of "signed_curve25519:<keyId>" -> signed key object, from the same initial upload.
                push_token:
                  type: string
                  nullable: true
                  description: FCM token, Android only for MVP. Opaque wake-signal payload only.
      responses:
        '201':
          description: Account created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: user_id or device_id already taken (client-generated ID collided — vanishingly rare with sufficient entropy)
        '429':
          $ref: '#/components/responses/RateLimited'

  /login:
    post:
      tags: [accounts]
      summary: Re-authenticate an existing account, on the device that created it
      description: >
        Issues a fresh session token for an existing user_id/device_id pair,
        given the account's username and a hash of its recovery key. This
        does NOT restore a crypto identity on a device that doesn't already
        have it — a session token alone can't decrypt anything or act as a
        trusted device without the matching private keys, which never leave
        the device that generated them. The client is responsible for
        detecting a browser that lacks the local key material (see
        web/src/lib/crypto.ts's CyCoveCrypto.login()) and refusing to proceed
        rather than silently creating a mismatched identity — this endpoint
        only handles the auth half. See docs/ux-flows.md.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, recovery_key_hash]
              properties:
                username:
                  type: string
                recovery_key_hash:
                  type: string
                  description: Same hash convention as /register's recovery_key_hash — the server never receives the raw recovery key.
      responses:
        '200':
          description: Re-authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                  device_id:
                    type: string
                    description: The account's most-recently-active device — see the same simplification noted on GET /users/by-username/{username}.
                  session_token:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Username not found, or recovery_key_hash doesn't match — same response for both, to avoid leaking which one was wrong.
        '429':
          $ref: '#/components/responses/RateLimited'

  /devices/pairing-token:
    post:
      tags: [devices]
      summary: Issue a short-lived, single-use token for linking a new device
      description: >
        Called by an already-logged-in device from the web client's "Link a
        device" action; the resulting pairing code (this token bundled with
        the caller's own user_id, encoded client-side — see
        web/src/lib/store.ts's encodePairingCode) is what gets pasted into a
        second device's "Link this device" screen, which calls
        POST /devices/link below. See docs/ux-flows.md.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Pairing token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  pairing_token:
                    type: string
                  expires_in:
                    type: integer
                    description: Seconds until the token expires (300).
        '401':
          $ref: '#/components/responses/Unauthorized'

  /devices/link:
    post:
      tags: [devices]
      summary: Link a new device to an existing account via QR/pairing code
      description: >
        Called by a new device after an already-verified device generated a
        pairing token (POST /devices/pairing-token) and the new device
        scanned/entered it. The token is single-use. device_id and
        device_keys follow the same client-generated, self-signed pattern as
        POST /register — see docs/crypto-integration-notes.md.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pairing_token, device_id, device_keys]
              properties:
                pairing_token:
                  type: string
                  description: Short-lived token issued by POST /devices/pairing-token.
                device_id:
                  type: string
                device_keys:
                  type: object
                one_time_keys:
                  type: object
                push_token:
                  type: string
                  nullable: true
      responses:
        '201':
          description: Device linked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Pairing token not found or expired
        '409':
          description: device_id already taken

  /devices:
    get:
      tags: [devices]
      summary: List every device on the caller's own account
      description: >
        Added alongside QR-code linking (docs/ux-flows.md): a QR code can be
        captured by a camera from across a room in an instant, unlike a
        copy-pasted string, so an easy way to see and undo an unwanted link
        matters more once QR exists. Returns the caller's own device too —
        the client marks which one that is by comparing IDs it already has.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: The account's devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        createdAt:
                          type: string
                          format: date-time
                        lastSeenAt:
                          type: string
                          format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'

  /devices/{deviceId}:
    delete:
      tags: [devices]
      summary: Revoke a device — ends its sessions and removes it
      description: >
        Only works on a device belonging to the caller's own account (checked
        server-side, not just left to client trust — otherwise any
        authenticated user could revoke any device by guessing IDs).
        Invalidates every live session token for the target device
        immediately (see backend/src/lib/auth.ts's revokeDeviceSessions),
        then deletes its row — OneTimeKey and ToDeviceQueue rows for it
        cascade automatically. Revoking the caller's own current device is
        allowed, not blocked; it ends that session too, same as logging out.
      security:
        - bearerAuth: []
      parameters:
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Revoked
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No such device on the caller's own account (also returned, not a 403, if the device belongs to someone else — doesn't confirm the ID exists on another account)

  /keys/upload:
    post:
      tags: [keys]
      summary: Upload/replenish this device's keys
      description: >
        Matches matrix-sdk-crypto-wasm's KeysUploadRequest exactly — see
        docs/crypto-integration-notes.md. Used after registration mainly to
        top up the one-time-key pool as it's consumed; device_keys can be
        included too but rarely changes after the first upload. The device
        is taken from the bearer token, not the request body.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                device_keys:
                  type: object
                  description: Opaque — only needed if updating identity keys, which is rare after registration.
                one_time_keys:
                  type: object
                  description: Opaque map of "signed_curve25519:<keyId>" -> signed key object to add to the pool.
                fallback_keys:
                  type: object
      responses:
        '200':
          description: Keys stored
          content:
            application/json:
              schema:
                type: object
                required: [one_time_key_counts]
                properties:
                  one_time_key_counts:
                    type: object
                    description: >
                      Required by matrix-sdk-crypto-wasm's markRequestAsSent
                      (throws without this field) — confirmed by triggering
                      the error directly during implementation.
                    properties:
                      signed_curve25519:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

  /keys/query:
    post:
      tags: [keys]
      summary: Batch-fetch device_keys for a set of users
      description: Matches matrix-sdk-crypto-wasm's KeysQueryRequest exactly — issued even for the caller's own user right after OlmMachine init.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_keys]
              properties:
                device_keys:
                  type: object
                  description: 'Map of user_id -> array of device_ids, or an empty array meaning "all devices for that user".'
                  additionalProperties:
                    type: array
                    items:
                      type: string
      responses:
        '200':
          description: Device keys for the requested users
          content:
            application/json:
              schema:
                type: object
                properties:
                  device_keys:
                    type: object
                    description: 'user_id -> device_id -> opaque device_keys blob'
                  master_keys:
                    type: object
                    description: 'user_id -> opaque master cross-signing key blob, for any user that has bootstrapped cross-signing.'
                  self_signing_keys:
                    type: object
                    description: 'user_id -> opaque self-signing cross-signing key blob.'
                  user_signing_keys:
                    type: object
                    description: >
                      user_id -> opaque user-signing cross-signing key blob —
                      only populated for the caller's own user_id, matching
                      real Matrix's convention (the key that signs other
                      people's identities isn't broadcast to everyone who
                      queries you).
                  failures:
                    type: object
        '401':
          $ref: '#/components/responses/Unauthorized'

  /keys/signing-keys/upload:
    post:
      tags: [keys]
      summary: Upload the caller's cross-signing public key triplet
      description: >
        Matches matrix-sdk-crypto-wasm's UploadSigningKeysRequest exactly —
        step 2 of 3 in OlmMachine.bootstrapCrossSigning() (step 1 is
        POST /keys/upload if a fresh device_keys upload is also pending; step
        3 is POST /keys/signatures/upload below). Opaque pass-through, same
        pattern as /keys/upload's device_keys — see
        docs/crypto-integration-notes.md's cross-signing grounding section.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                master_key:
                  type: object
                self_signing_key:
                  type: object
                user_signing_key:
                  type: object
      responses:
        '204':
          description: Stored
        '401':
          $ref: '#/components/responses/Unauthorized'

  /keys/signatures/upload:
    post:
      tags: [keys]
      summary: Upload cross-signing signatures for a device or identity
      description: >
        Matches matrix-sdk-crypto-wasm's SignatureUploadRequest — step 3 of
        bootstrapCrossSigning(), and also used ad hoc whenever a device or
        contact identity gets signed later (device linking, cross-signing a
        contact after SAS verification succeeds). Unlike every other
        endpoint in this API, this one can't be a pure opaque pass-through:
        the uploaded object only carries the *new* signature, so the server
        merges it into whatever's already stored (unioning `signatures[user_id]`
        entries) rather than overwriting — a live grounding script confirmed
        a naive overwrite drops a device's own pre-existing self-signature
        and silently corrupts the record for every future viewer. See
        docs/crypto-integration-notes.md's cross-signing grounding section
        (point 2). The target user_id is often NOT the caller — e.g. Bob
        uploading a signature over Alice's master key after verifying her is
        the normal, expected shape of this call, not a permissions bug; the
        server never validates signature cryptographic correctness itself
        (same "dumb pipe" philosophy as elsewhere), a bad signature just
        fails client-side verification for whoever fetches it back.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: >
                user_id -> (device_id | cross-signing key's own public key
                value) -> the signed key object with the new signature
                included.
              additionalProperties:
                type: object
                additionalProperties:
                  type: object
      responses:
        '200':
          description: Signatures merged (per-target failures reported, not a hard error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  failures:
                    type: object
                    description: 'user_id -> key_id -> error, for any target that could not be matched to a known device or master key.'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /keys/claim:
    post:
      tags: [keys]
      summary: Claim one one-time key per requested device, to start new sessions
      description: >
        Matches matrix-sdk-crypto-wasm's KeysClaimRequest exactly. Claim is
        atomic and race-safe (verified with a real concurrent-claim test
        during implementation of the original /prekeys endpoint this
        replaces) — the same one-time key is never handed out twice.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [one_time_keys]
              properties:
                one_time_keys:
                  type: object
                  description: 'user_id -> device_id -> algorithm (always "signed_curve25519" for this stack)'
                timeout:
                  type: integer
      responses:
        '200':
          description: Claimed keys, one per device that had one available
          content:
            application/json:
              schema:
                type: object
                properties:
                  one_time_keys:
                    type: object
                    description: 'user_id -> device_id -> {keyId: opaque key object}. A device with no keys left is simply omitted, not an error.'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /messages:
    post:
      tags: [messages]
      summary: Send a to-device event to an offline recipient (HTTP fallback)
      description: >
        Used when the recipient device isn't connected via WS /connect.
        Queues the event for store-and-forward delivery, shared with the WS
        relay's sendToDevice handler via backend/src/lib/relay.ts. FCM wake
        signal is not implemented yet — needs FCM_SERVICE_ACCOUNT_JSON, see
        backend/.env.example.

        Generic to-device event, not just chat messages (renamed from a
        ciphertext-only shape once building safety-number verification
        showed both encrypted messages and verification-protocol messages
        travel as the same underlying request type — see
        docs/crypto-integration-notes.md). event_type is typically
        "m.room.encrypted" for real messages (opaque, server never parses
        it) or "m.key.verification.*" for verification steps (plain JSON,
        not encrypted by design — the security comes from the interactive
        emoji comparison, not from hiding the negotiation).
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [recipient_device_id, event_type, content]
              properties:
                recipient_device_id:
                  type: string
                event_type:
                  type: string
                  example: m.room.encrypted
                content:
                  type: object
                  description: Opaque. Server never inspects it, regardless of event_type.
      responses:
        '202':
          description: Queued for delivery
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: Payload exceeds the free/paid tier's max attachment size (see Key decisions -> Free tier limits)
        '429':
          $ref: '#/components/responses/RateLimited'

  /users/username:
    put:
      tags: [users]
      summary: Claim or change the caller's username
      description: >
        Reverses the original "local label only, no directory" identity
        model — see docs/crypto-integration-notes.md and
        Projects/CyCove.md -> Key decisions -> Identity model for why.
        Optional, unique, lowercase-only ASCII. Race-safe via the same
        unique-constraint-collision pattern as user_id/device_id elsewhere
        in this API.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username:
                  type: string
                  pattern: '^[a-z0-9_]{3,32}$'
                  description: Normalized lowercase server-side regardless of input casing.
      responses:
        '200':
          description: Username claimed
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
        '400':
          description: Invalid format (must be 3-32 chars, lowercase letters/numbers/underscore only)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: username already taken
        '429':
          $ref: '#/components/responses/RateLimited'

  /users/by-username/{username}:
    get:
      tags: [users]
      summary: Resolve a username to an account and device
      description: >
        Case-insensitive exact match. Returns the account's
        most-recently-active device (Device.lastSeenAt) — a deliberate
        simplification given no real multi-device usage exists anywhere in
        the app yet; revisit once device linking is actually wired up
        client-side. This endpoint is the new discoverability surface — see
        THREAT_MODEL.md -> Server compromise for what a full DB dump now
        additionally exposes as a result.
      security:
        - bearerAuth: []
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Match found
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                  device_id:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No user with that username
        '429':
          $ref: '#/components/responses/RateLimited'

  /contacts/request:
    post:
      tags: [contacts]
      summary: Notify another account of a contact request
      description: >
        Deliberately a plain HTTP action, not a WS to-device send — the
        content this carries (the requester's username, already resolvable
        via /users/by-username anyway) needs to be server-visible for
        rate-limiting to target contact-request spam specifically, which
        isn't possible against opaque Olm ciphertext. See
        docs/crypto-integration-notes.md. Delivered via the same
        relayToDevice() used by WS sendToDevice and POST /messages, so it
        behaves identically whether the recipient is online or not.
        contact_accept/contact_decline stay on the WS to-device path (see
        asyncapi.yaml) as plain, non-Olm-encrypted content, for the same
        reason as this endpoint.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [recipient_device_id]
              properties:
                recipient_user_id:
                  type: string
                recipient_device_id:
                  type: string
                username:
                  type: string
                  nullable: true
                  description: The requester's own self-chosen username, if set — lets the recipient show something before ever seeing a share code.
      responses:
        '202':
          description: Queued/delivered for the recipient
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /account-data/{dataType}:
    put:
      tags: [account-data]
      summary: Upload an encrypted backup blob (contacts or cross-signing keys)
      description: >
        Opaque ciphertext — the server never sees plaintext, only
        stores/serves what it's given, same "dumb pipe" pattern as
        device_keys/one_time_keys/to_device_queue. Encrypted client-side
        with a key derived from the recovery key (WebCrypto PBKDF2 +
        AES-GCM — not matrix-sdk-crypto-wasm's key-backup feature, which is
        Megolm-room-key-specific and doesn't fit here; see
        docs/crypto-integration-notes.md). Message content is deliberately
        never backed up this way — see THREAT_MODEL.md and
        Projects/CyCove.md. `dataType` is `contacts` (original use) or
        `cross-signing` (the private cross-signing key export, restored onto
        a newly linked device that was given the recovery key) — one row per
        [user, dataType] (backend/prisma/schema.prisma's EncryptedBackup).
      security:
        - bearerAuth: []
      parameters:
        - name: dataType
          in: path
          required: true
          schema:
            type: string
            enum: [contacts, cross-signing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ciphertext, iv]
              properties:
                ciphertext:
                  type: string
                  description: Base64-encoded AES-GCM ciphertext.
                iv:
                  type: string
                  description: Base64-encoded initialization vector, fresh per encryption.
      responses:
        '204':
          description: Stored (upserted)
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags: [account-data]
      summary: Fetch the caller's encrypted backup blob, if any
      security:
        - bearerAuth: []
      parameters:
        - name: dataType
          in: path
          required: true
          schema:
            type: string
            enum: [contacts, cross-signing]
      responses:
        '200':
          description: Backup found
          content:
            application/json:
              schema:
                type: object
                properties:
                  ciphertext:
                    type: string
                  iv:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No backup uploaded yet

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >
        Device-scoped session token, issued by /register or /devices/link.
        Implemented as an opaque random token mapped to a device ID in Redis
        (backend/src/lib/auth.ts) — no expiry or refresh yet, that's still an
        open design question, not just an unimplemented one.

  schemas:
    RegistrationResult:
      type: object
      description: Shared response shape for POST /register and POST /devices/link.
      properties:
        user_id:
          type: string
          description: Only present on POST /register — POST /devices/link doesn't create a new user.
        device_id:
          type: string
        session_token:
          type: string
          description: Bearer token for this device's session — pass as `Authorization Bearer <token>` on authenticated routes.
        one_time_key_counts:
          type: object
          description: Same shape as /keys/upload's response — the client needs this to satisfy markRequestAsSent after its initial key upload.
          properties:
            signed_curve25519:
              type: integer

  responses:
    BadRequest:
      description: Malformed request
    Unauthorized:
      description: Missing or invalid session token
    RateLimited:
      description: >
        Rate limit exceeded. First-pass limits shipped 2026-07-19
        (backend/src/lib/rateLimit.ts, fixed-window, per-device or per-IP
        depending on the endpoint) — not yet tuned against real usage, see
        THREAT_MODEL.md -> Open items.
